<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="JavaPackage.TestNG7"/>
      <class name="JavaPackage.TestNG5"/>
      <class name="JavaPackage.TestNG6"/>
      <class name="JavaPackage.TestNG"/>
      <class name="JavaPackage.TestNG3"/>
      <class name="JavaPackage.TestNG4"/>
      <class name="JavaPackage.TestNG2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
